* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto";
}

body {
  background-image: linear-gradient(150deg, #0f2b05, rgb(0, 0, 0));
  height: 100vh;
  text-align: center;
}

header {
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 5px;
}

#card {
  display: inline-block;
  background-image: url(./assets/bg-ignite.svg);
  width: 354px;
  height: 500px;
  cursor: pointer;
}

#card > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 103px;
  border: 4px solid #f7dd43;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.info {
  margin-top: 110px;
}

.info h1 {
  font-family: Roboto;
  font-size: 16px;
  color: ghostwhite;
  text-align: left;
  margin-left: 60px;
}

.info p {
  font-family: Roboto;
  font-size: 14px;
  color: ghostwhite;
  text-align: left;
  margin-left: 60px;
}
